{
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.interface.ts", "*.d.ts"],
      "options": { "printWidth": 140 }
    },
    {
      "files": ["service.ts"],
      "options": { "printWidth": 90 }
    }
  ]
}
